body.bb {
    background-color: #f8f9fa;
    color: #343a40;
}

.main-content {
    margin-left: 150px;
    padding: 20px;
}

.table {
    margin-top: 20px;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.btn-floating {
    border-radius: 50%;
}

.btn-secondary {
  float: right;
}